<div class="new-business__background">
  <div class="new-business__container">
    <h1 class="new-business__title">
      <span class="new-business__title-green">Add new</span>
      Listing
    </h1>
    <%= render "form" %>
  </div>
</div>
