<!DOCTYPE html>

.mainbody
    .search_area  
        %h1 Browse through our listings of fitness centers today.
        =link_to rental_properties_path, :action => 'go' do
            .search_bar 
                .search_text Find Your Spot...
 
        -# =link_to(rental_properties_path)
        -#     .search_bar

.cities.row
    .offset-sm-1.col-sm-2
        %p Syracuse
    .offset-sm-2.col-sm-2
        %p Fairfield County
    .offset-sm-2.col-sm-2
        %p Westchester


#about
    .row
        .slogan-section
            %h1 Connecting Brands in Health and Fitness
    .row
        .col-xl-6.about-container
            .about-title
                %h1 About
            .about-text
                %p Adzilly is an innovative online platform focused on brand collaboration in the health and fitness industry. We are building an ecosystem to connect brands with other businesses that share a similar customer base. We specialize in experiential campaigns, product placement and print promotions. The physical marketing channel we have established is targeted, affordable and captures consumers at the right place and in the right time.
                .button-navigate= link_to("Get in touch", "mailto:matt.winters@adzilly.com")
        .col-xl-6.about-container
            .about-video
                %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/J38fk16dllM", :width => "560"}

    #meet-the-founders
        .row
            .meet-us
                .meet-us-text
                    %h1 Meet The Founders
        .row
            .offset-xl-3.col-xl-3
                .meet-us-headshot
                    =image_tag("winters_headshot.png", height: '300', width: '300')
                .meet-us-info
                    %h2 Matt Winters
                    %p Co-Founder
            .col-xl-3 
                .meet-us-headshot
                    =image_tag("AbtHeadshot.png", height: '300', width: '275')
                .meet-us-info
                    %h2 Matthew Abt
                    %p Co-Founder
        .row
            .meet-us


