
=hidden_field_tag :filter, true

=label_tag :price, "Maximum price"
=number_field_tag :price, @price

=label_tag :industy, "Industry"
=text_field_tag :industy, @industry

=label_tag :miles, "Within"
=number_field_tag :miles, @miles

=label_tag :filter_location, "miles of"
=text_field_tag :filter_location, @filter_location
