- flash.each do |key, value|
    .alert{ :class => "alert-#{key}" }
    %button.close{ :data => { :dismiss => "alert" } } x
    %strong
        = value
- if user_signed_in?
    -if current_user.id != @property.user_id
        - redirect_to rental_property_path(@property)
- else
    - redirect_to rental_property_path(@property)
#main.container
    .form
        =form_for @property, :method => :patch do |f|
            =render "create_update_form", f: f

            =f.submit

.row
    .middle
        .button-navigate= link_to('cancel changes', rental_property_path(@property))
