- flash.each do |key, value|
    .alert{ :class => "alert-#{key}" }
    %button.close{ :data => { :dismiss => "alert" } } x
    %strong
        = value

.form
    =form_for @property, :method => :patch do |f|
        =f.label :title
        =f.text_field :title

        =f.label :description
        =f.text_field :description

        =f.label :address
        =f.text_field :address

        =f.label "Asking price"
        =f.number_field :price

        =f.submit

.row
    .col-md-offset-1
    .col-md-2.button-navigate= link_to('Cancel changes to the rental property listing', rental_property_path(@property))
