#main.container
    .form
        =form_for RentalProperty.new do |f|
            =render "create_update_form", f: f

            =f.submit

    .row
        .middle
            .button-navigate= link_to('Back to rental properties list', rental_properties_path)
