<div class="container" id="main">
  <div class="form">
    <%= render "form" %>
  </div>
  <div class="row">
    <div class="middle">
      <div class="button-navigate">
        <%= link_to('Back to rental properties list', rental_properties_path) %>
      </div>
    </div>
  </div>
</div>
