#main.container
    .form
        =form_with(model: RentalProperty.new, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f|
            =render "create_update_form", f: f
            =f.submit

    .row
        .middle
            .button-navigate= link_to('Back to rental properties list', rental_properties_path)
