// Place all the styles related to the RentalProperties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .price, .distance {
//     text-align: right;
// }

.form input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type=submit] {
  width: 100%;
  background-color: #A1D33C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type=submit]:hover {
  background-color: #90C22B;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.button-navigate a:link, .button-navigate a:visited {
  background-color: #A1D33C; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: auto;
}

.button-navigate a:hover,.button-navigate a:active {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #90C22B;
}

.submit input[type=submit], .submit a{
  background-color: #A1D33C; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}

.show_image{
  padding: 10px;
  display: inline-block;
  margin:auto;
}

.middle{
  padding: 15px;
  margin: auto;
}

.header {
  font-size: 96px;
}


.description {
  width: 20%
}

// .footer-info{
//     display: inline-block;
// }
